* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

:root {
  --main-color: #1b85d1;
  --secondary-color: #eac403;
  --text-color: #fff;
  --background-color: #1a1a40;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  padding: 32px 142px;
  gap: 64px;
  padding-bottom: 64px;
}

.header-title {
  color: var(--text-color);
  font-size: 30px;
  
}
.nav-link {
  list-style: none;
  display: flex;
  gap: 10px;
}
.active {
  color: var(--secondary-color);
  border: var(--secondary-color) solid 2px;
  padding: 5px;
  border-radius: 10px;
  animation: border-glow 1.5s infinite alternate, text-glow 1.5s infinite alternate;
}
@keyframes border-glow {
  0% {
    box-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 15px var(--secondary-color), 0 0 20px var(--secondary-color);
  }
  50% {
    box-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color);
  }
  100% {
    box-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 15px var(--secondary-color), 0 0 20px var(--secondary-color);
  }
}
@keyframes text-glow {
  0% {
    color: var(--secondary-color);
  }
  50% {
    color: var(--text-color);
  }
  100% {
    color: var(--secondary-color);
  }
}
.line {
  text-decoration: none;
  color: var(--text-color);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 32px 142px;
  padding-bottom: 121px;
}

.content-about-me {
  align-self: stretch;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 32px;

  /* Heading/H1/Semi-Bold/Normal */
  font-family: "Poppins";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px; /* 131.25% */
}
.content-about-desc {
  color: var(--text-color);
  text-align: center;

  /* Body/MD/Regular/Normal */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.content-image {
  display: flex;
  width: 217px;
  height: 198px;
  padding-top: 19px;

  /* justify-content: center; */
  align-items: center;
  /* background-size: center; */
  border-radius: 9999px;
  background-color: var(--secondary-color);
  background-image: url("./file3.png");
  background-position: center;
  background-size: contain;
  /* background-color: #1b85d1; */
  background-repeat: no-repeat;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.main-btn {
  width: 151px;
  border-radius: 8px;
  background: var(--secondary-color);
  height: 40px;
  color: #fff;
  text-align: center;

  /* Body/MD/Regular/Normal */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.second-btn {
  width: 151px;
  border-radius: 8px;
  height: 40px;
  background: #071e2e;
  border: 1.5px solid var(--secondary-color);
  color: var(--secondary-color);
  text-align: center;

  /* Body/MD/Regular/Normal */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.exp-layout {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}
.exp-title {
  font-size: 34px;
  font-weight: 600;
  margin: 0 !important;
  font-family: "poppins";
  color: var(--text-color);
}
.experience-item {
  display: flex;
  /* flex-direction: column; */
}
.circle {
  width: 27px;
  height: 27px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.border {
  width: 3px;
  height: 100%;
  background-color: var(--secondary-color);
}
.experience-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.about-item {
  width: 315px;
  color: #fff;

  /* Heading/H2/Medium/Normal */
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 133.333% */
}
.experience-title {
  color: var(--text-color);

  /* Heading/H3/Semi-Bold/Normal */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 216.667% */
}
.experience-job {
  color: var(--text-color);

  /* Body/MD/Regular/Normal */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-bottom: 24px;
}

.footer-title {
  color: var(--secondary-color);

  /* Body/MD/Regular/Normal */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  padding: 96px;
}

/* --- Start of Responsive Media Query --- */
@media only screen and (max-width: 1200px) {
  header {
    padding: 16px;
  }
  .content-about-me {
    font-size: 48px;
    line-height: 64px;
  }
  .content-about-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .experience-title {
    font-size: 20px;
    line-height: 32px;
  }
  .experience-job {
    font-size: 16px;
    line-height: 24px;
  }
  .btn {
    flex-direction: column;
    gap: 16px;
  }
  .main-btn,
  .second-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  header {
    flex-direction: column;
    padding: 16px;
  }
  .nav-link {
    flex-direction: column;
    gap: 5px;
  }
  .content {
    padding: 16px;
  }
  .content-about-me {
    font-size: 40px;
    line-height: 56px;
  }
  .content-about-desc {
    font-size: 14px;
    line-height: 20px;
  }
  .experience-title {
    font-size: 18px;
    line-height: 28px;
  }
  .experience-job {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .content-about-me {
    font-size: 36px;
    line-height: 48px;
  }
  .content-about-desc {
    font-size: 12px;
    line-height: 18px;
  }
  .experience-title {
    font-size: 16px;
    line-height: 24px;
  }
  .experience-job {
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .content-about-me {
    font-size: 32px;
    line-height: 44px;
  }
  .content-about-desc {
    font-size: 10px;
    line-height: 14px;
  }
  .experience-title {
    font-size: 14px;
    line-height: 20px;
  }
  .experience-job {
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    padding: 8px;
    flex-direction: column;
    align-items: center;
  }
  .content-about-me {
    font-size: 28px;
    line-height: 36px;
  }
  .content-about-desc {
    font-size: 8px;
    line-height: 12px;
  }
  .experience-title {
    font-size: 12px;
    line-height: 16px;
  }
  .experience-job {
    font-size: 8px;
    line-height: 12px;
  }
}
/* --- End of Responsive Media Query --- */
