body {
  background-color: #071e2e;
}

:root {
  --main-color: #1b85d1;
  --secondary-color: #eac403;
  --text-color: #fff;
  --background-color: #071e2e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  padding: 32px 142px;
  gap: 64px;
  padding-bottom: 64px;
}
.header-title {
  color: var(--text-color);  
  font-size: 30px;
}
.nav-link {
  list-style: none;
  display: flex;
  gap: 10px;
}
.active {
  color: var(--secondary-color);
}
.content-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-padding-64px, 64px);
  align-self: stretch;
}
.content-title {
  align-self: stretch;
  color: #fff;
  text-align: center;

  /* Heading/H1/Semi-Bold/Normal */
  font-family: var(--typography-typeface-change-font-here-heading, Poppins);
  font-size: var(--Typography-Size-LG-4x, 64px);
  font-style: normal;
  font-weight: var(--Typography-Weight-Semi-Bold, 600);
  line-height: var(--Typography-Height-LG-4x, 84px); /* 131.25% */
}
.work-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  justify-content: center;
  padding-bottom: 64px;
}
.work-item {
  width: 440px;
  height: 330px;
  /* border: 2px solid #168e40; */
  border-radius: 20px;
}
.work-img {
  height: 90%;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
}
.work-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-title {
  color: var(--secondary-color);

  /* Body/MD/Regular/Normal */
  font-family: var(--typography-typeface-change-font-here-body, Poppins);
  font-size: var(--Typography-Size-MD, 18px);
  font-style: normal;
  font-weight: var(--Typography-Weight-Regular, 400);
  line-height: var(--Typography-Height-SM, 28px); /* 155.556% */
}
.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
footer {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    padding: 96px;
  }


